@font-face {
    src: url("../resources/fonts/Montserrat-Regular.ttf") ;

}
@font-face {
    src: url("../resources/fonts/Roboto-Regular.ttf") ;

}
@font-face {
    /*src: url("../resources/icons/Flaticon.ttf") ;*/

}

*{
    -fx-base1:#DEF4FD;
    -fx-base2:#D0F1FF;
    -fx-base3:#9AE1FF;
    -fx-base4:#6CD1FD;

    -fx-altBase1:#FFF6DE;
    -fx-altBase2:#FFF1CD;
    -fx-altBase3:#FFE196;
    -fx-altBase4:#FFD466;

    -fx-alt2base1:#FFE4DE;
    -fx-alt2base2:#FFD7CD;
    -fx-alt2base3:#FFAA96;
    -fx-alt2base4:#FF8366;

    -fx-niceGray:#f4f7f6;

}
/*Icon made by https://www.flaticon.com/authors/chanut from www.flaticon.com */
/*Paste this attribution on the final work so the authorship is known (for instance, in the acknowledgements chapter of a book)*/
.label{
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 18px;
    /*-fx-font-family: 'Roboto', sans-serif;*/
    /*-fx-font-family: 'Montserrat', sans-serif;*/
    /*-fx-text-fill: red;*/
}

.button{
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 20px;
}

.browseButton{
    -fx-padding: 10 0 10 20;
    -fx-background-color: transparent;
    -fx-font-size: 20px;

    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-base3;
}

.browseButton:hover{
    -fx-background-color: -fx-base2;
}

.browseButton:pressed{
    -fx-background-color: -fx-niceGray;
}

.h1{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    /*-fx-text-fill: rgba(0,0,0,0.75);*/
}
.h2{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    /*-fx-text-fill: rgba(0,0,0,0.75);*/
}

.h3{
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    /*-fx-text-fill: rgba(0,0,0,0.75);*/
}
.h4{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    /*-fx-text-fill: rgba(0,0,0,0.75);*/
}
.oneColor{
    -fx-background-color: -fx-base1;
}


.centerStage{
    -fx-background-color: -fx-niceGray;

}
.browseMenu{

}
.topBar{

}
.cart{
    -fx-background-color: white;
}

.p{
    -fx-font-size: 20px;
}

.p2{
    -fx-font-size: 17px;
}

#Card{
    -fx-border-width: 0 1 1 0;
    -fx-border-color: rgba(0,0,0,0.1);
}
#Logo{
    -fx-text-fill: -fx-Base4;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}